@font-face {
  font-family: RedHatDisplay-Black;
  src: url(../fonts/red-hat-display/RedHatDisplay-Black.ttf);
}

@font-face {
  font-family: RedHatDisplay-BlackItalic;
  src: url(../fonts/red-hat-display/RedHatDisplay-BlackItalic.ttf);
}
